html {
  font-size: 18px;
  font-family: helvetica;
}


.header {
  background-color: black;
  color: white;
}

.header img {
  height: 1.5rem;
  padding-right: 15px;
}

.header
.container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5rem;
  font-family: helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-size: cover;
  height: 25rem;
  font-family: helvetica;
}

.headline {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  top: 9rem;
  position: relative;
  font-family: helvetica;
}

.headline h4 {
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.headline h1 {
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
}

.product-image img {
  max-width: 8rem;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-top: 4rem;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .product {
    width: 47%;
  }
  .info {
    width: 35%;
  }
  .product.glasses {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }
  ul.container {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  body {
    font-size: 16px;
  }
  .product {
    width: 90%;
  }
  .info {
    width: 90%;
    flex-direction: column;
  }
  .product.watch {
    display: none;
  }
  .product.glasses {
    display: none;
  }
  .headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }
  .main-banner {
    height: 15rem;
  }
  .headline h4 {
    font-family: helvetica;
    font-size: 0.77rem;
    font-weight: bold;
  }
  .headline h1 {
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }
  ul.container {
    display: none;
  }

.footer {
  text-align: center;
}

}
